APP_NAME="WireGuard API"
APP_VERSION="0.8"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
LOG_CHANNEL=stack

API_KEY=
IP_SERVICE=http://ifconfig.me/ip
WIREGUARD_ENDPOINT_IP=
WIREGUARD_DNS=8.8.8.8
WIREGUARD_KEEPALIVE=25
WIREGUARD_ALLOWED_IPS=0.0.0.0/0
